<th:block th:fragment="modals">
    <!-- Generic modal that can be reused by pages -->
    <div class="modal fade" id="genericModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="genericModalTitle">Título</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body" id="genericModalBody">
                    <!-- Contenido dinámico -->
                </div>
                <div class="modal-footer" id="genericModalFooter">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
